* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
h1 {
    text-align: center;
    margin-top: 100px;
    padding: auto;
}
body {
    background-color: lightgrey
}
.wrap{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 250px;
    margin: 20px;
    border: 1px solid darkgrey;
    border-radius: 10%;
    background-color: darkgrey;
    padding: 15px;
  }
  p {
      font-size: normal;
      text-align: center;
  }
  button {
      background-color: royalblue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 40px;

      align-content: center;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: larger;
  }
button:hover {
    cursor: pointer;
}


